{% extends "base.html" %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'main_blog/404.css' %}">
{% endblock extra_styles %}
{% block title %} Error page {%endblock title%}
{% block body %}
<h1>404</h1>
<p>Oops! This page doesn’t exist.</p>

<h3>Here are some of your latest tasks:</h3>
<ul>
  {% for task in recent_tasks %}
    <li>{{ task.title }}</li>
  {% empty %}
    <li>No recent tasks found.</li>
  {% endfor %}
</ul>

<a href="/">← Back to Home</a>
{% endblock body %}
