{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'main_blog/style.css'%}">
    {% block extra_styles %} {% endblock extra_styles %}
</head>
<body>
    <nav class="navbar">
    <div class="nav-inner">
      <div class="logo">📝 To-Do App</div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
        <li><a class="btn primary" href="{% url 'add_task' %}"> Add New Task</a></li>

        <li><a class="btn primary" href="{% url 'logout' %}"> Logout</a></li>
        
        <li><a class="btn primary" href="{% url 'profile' user.username %}"> Profile</a></li>
        {% else%}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a class="btn primary" href="{% url 'login' %}"> Login </a></li>
        <li><a class="btn primary" href="{% url 'register' %}"> Register </a></li>
        
        {% endif %}

      </ul>
    </div>
  </nav>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
  {% block body %}

  {% endblock body %}

  <footer class="site-footer">
    <p>© 2025 To-Do — Built by Elikem </p>
  </footer>
  <script src="{% static 'users/js/style.js' %}"></script>
</body>
</html>