{% extends 'base.html' %}
{% load static %}
{% block title %} Home page {%endblock title%}
{% block body %}
  <main class="main
  <main class="main-content">
    <h1 class="page-title">Task Details</h1>

    <section class="detail-card">
      <h2 class="detail-title">{{task.title}}</h2>
      <p class="detail-desc">{{task.description}}.</p>

      <ul class="meta-list">
        <li><strong>Created: </strong> {{task.created_at}}</li>
          {% if task.completed%}
          <li><strong>Status:</strong> Completed </li>
          {% else %}
          <li><strong>Status:</strong> In progress </li>
          {% endif %}
      </ul>

      <div class="view-actions">
        <a class="btn small" href="{% url 'edit_task' task.id %}">Edit</a>
        <a href="{% url 'delete_task' task.id %}" class="btn small ghost">Delete</a>
        <a class="btn ghost" href="{{request.META.HTTP_REFERER}}">Back</a>
      </div>
    </section>
  </main>
{% endblock body%}